Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@dma117 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


kekouke
/
Calculator
1
00
 Code Issues 0 Pull requests 0 Actions Projects 0 Wiki Security Insights
Calculator/.gitignore
@kekouke kekouke Fix bugs with program logic
8cc12a4 3 days ago
40 lines (35 sloc)  363 Bytes
  
*~
.vs/

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
